#about {
  padding: 45px 0;

  background: url("../img/page/index/about/background.svg") no-repeat;
  background-color: #ffffff;
  background-size: cover;

  .section__header {
    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 10px;
    }
  }

  .section__text {
    @include breakpoint($breakpoint-laptop--medium) {
      br {
        display: none;
      }
    }
  }
}

.about {
  &__content {
    @include breakpoint($breakpoint-laptop--medium) {
      padding-top: 50px;
    }

    @include breakpoint($breakpoint-laptop) {
      padding-top: 20px;
    }

    padding-top: 85px;
  }

  &__video {
    @include breakpoint($breakpoint-laptop--medium) {
      height: 385px;
    }

    @include breakpoint($breakpoint-laptop) {
      height: 270px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      height: 205px;
      border-radius: 6px;
    }

    overflow: hidden;
    width: 100%;
    height: 495px;

    border-radius: $border-radius--medium;
    background-color: #f4f4f4;
  }
}
