section#assurance {
  @include breakpoint($breakpoint-tablet--large) {
    margin-top: 40px;
    margin-bottom: -10px;
  }

  margin-bottom: -20px;

  text-align: center;
}

.assurance {
  position: relative;
  overflow: hidden;

  &__content {
    @include breakpoint($breakpoint-laptop--medium) {
      padding: 50px 15px;
    }

    @include breakpoint($breakpoint-laptop) {
      padding: 20px 15px;
    }

    @include breakpoint($breakpoint-tablet) {
      padding: 0;
    }

    position: relative;
    z-index: 2;

    display: inline-flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 60px;

    background: $palette-white;

    &::before,
    &::after {
      @include breakpoint($breakpoint-tablet) {
        display: none;
      }

      content: "";
      position: absolute;
      z-index: 100;
      top: 50%;

      width: 150px;
      height: 110%;

      transform: translateY(-50%);
    }

    &::after {
      left: -150px;

      background: linear-gradient(
        270deg,
        rgba(#ffffff, 1) 20%,
        rgba(#ffffff, 0) 100%
      );
    }

    &::before {
      right: -150px;

      background: linear-gradient(
        90deg,
        rgba(#ffffff, 1) 20%,
        rgba(#ffffff, 0) 100%
      );
    }
  }

  &__title {
    @include breakpoint($breakpoint-laptop) {
      margin-bottom: 15px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 10px;
    }

    margin-bottom: 20px;
  }

  &__text {
    @include breakpoint($breakpoint-laptop) {
      margin-bottom: 15px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 10px;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 5px;
    }

    margin-bottom: 30px;
  }

  &__button {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__bg {
    @include breakpoint($breakpoint-tablet) {
      position: static;
    }

    position: absolute;
    top: 5%;
    left: 0;
  }

  &__infinite {
    display: flex;

    &:nth-child(2) {
      .assurance__partners {
        @include breakpoint($breakpoint-tablet) {
          animation-direction: alternate;
        }
      }
    }

    &:not(:last-child) {
      @include breakpoint($breakpoint-tablet--large) {
        margin-bottom: 5px;
      }

      margin-bottom: 15px;
    }

    &:last-child {
      @include breakpoint($breakpoint-tablet) {
        display: none;
      }
    }
  }

  &__partners {
    display: flex;
    flex-shrink: 0;
    animation: 45s linear infinite alternate-reverse marquee;
  }

  &__partner {
    @include breakpoint($breakpoint-laptop--large) {
      width: 80px;
      height: 80px;
    }

    @include breakpoint($breakpoint-laptop) {
      width: 60px;
      height: 60px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 50px;
      height: 50px;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 60px;
      height: 60px;
    }

    width: 90px;
    height: 90px;

    margin-right: 35px;
  }

  &__fade {
    &::before,
    &::after {
      @include breakpoint($breakpoint-laptop--medium) {
        width: 50px;
      }

      // @include breakpoint($breakpoint-tablet) {

      // }

      content: "";
      position: absolute;
      z-index: 15;
      top: 50%;

      width: 150px;
      height: 100%;

      transform: translateY(-50%);
    }

    &::after {
      left: 0;

      background: linear-gradient(
        90deg,
        rgba(#ffffff, 1) 20%,
        rgba(#ffffff, 0) 100%
      );
    }

    &::before {
      right: 0;

      background: linear-gradient(
        270deg,
        rgba(#ffffff, 1) 20%,
        rgba(#ffffff, 0) 100%
      );
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
