// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  overflow: hidden;
  background-color: $palette-black;
}

.hero {
  &__row {
    &--main {
      @include breakpoint($breakpoint-laptop--medium) {
        padding-top: 55px;

        background-position-x: calc(50% + 220px);
        background-size: 900px;
      }

      @include breakpoint($breakpoint-laptop) {
        background-position-x: calc(50% + 200px);
        background-size: 700px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        padding-top: 20px;

        background-position-x: calc(50% + 180px);
        background-size: 520px;
      }

      @include breakpoint($breakpoint-tablet) {
        background-position-x: calc(50% + 130px);
        background-size: 430px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        background-image: none;
      }

      padding-top: 85px;

      background-image: url("../img/page/index/hero/background.png");
      background-position-x: calc(50% + 300px);
      background-position-y: bottom;
      background-size: 1150px;
      background-repeat: no-repeat;

      .hero__action {
        @include breakpoint($breakpoint-tablet) {
          display: none;
        }
      }

      .hero__special {
        @include breakpoint($breakpoint-mobile--large) {
          display: none;
        }
      }
    }

    &--inverted {
      @include breakpoint($breakpoint-laptop--medium) {
        padding-bottom: 110px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        padding-bottom: 60px;
      }

      @include breakpoint($breakpoint-tablet) {
        padding-bottom: 0;
      }

      position: relative;
      padding-bottom: 150px;
      background-color: $palette-white;

      .hero__action {
        @include breakpoint($breakpoint-tablet) {
          display: flex;
        }

        display: none;
      }

      .hero__special {
        @include breakpoint($breakpoint-mobile--large) {
          display: block;
        }

        display: none;
      }
    }
  }

  &__content {
    color: $color-text__white;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 20px;
    }

    @include breakpoint($breakpoint-laptop) {
      margin-bottom: 15px;
    }

    margin-bottom: 30px;
  }

  &__description {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 30px;
    }

    @include breakpoint($breakpoint-laptop) {
      margin-bottom: 20px;
    }

    @include breakpoint($breakpoint-tablet) {
      br {
        display: none;
      }
    }

    @include breakpoint($breakpoint-mobile--large) {
      max-width: 85%;
      margin-bottom: 0;
      padding-bottom: 130px;
    }

    max-width: 45%;
    margin-bottom: 50px;
  }

  &__action {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 70px;
    }

    @include breakpoint($breakpoint-laptop) {
      margin-bottom: 50px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 30px;
    }

    @include breakpoint($breakpoint-tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: 0;
      padding-top: 65px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      padding-top: 120px;
    }

    margin-bottom: 110px;

    .button {
      @include breakpoint($breakpoint-laptop--medium) {
        min-width: 180px;

        padding-right: 25px;
        padding-left: 25px;

        font-size: $font-size__text--big;
      }

      @include breakpoint($breakpoint-laptop) {
        min-width: 170px;

        padding-right: 20px;
        padding-left: 20px;

        font-size: $font-size__text--regular;
      }

      @include breakpoint($breakpoint-tablet--large) {
        min-width: 120px;

        padding-right: 30px;
        padding-left: 30px;

        font-size: $font-size__text--small;
      }

      @include breakpoint($breakpoint-tablet) {
        width: 100%;
        max-width: 260px;

        font-size: $font-size__text--regular;
      }

      min-width: 210px;

      padding-right: 50px;
      padding-left: 50px;
    }
  }

  &__special {
    @include breakpoint($breakpoint-laptop--medium) {
      padding-bottom: 20px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      margin-top: 20px;
      padding-bottom: 0;
      text-align: center;
    }

    padding-bottom: 25px;

    .link {
      @include breakpoint($breakpoint-laptop--medium) {
        font-size: $font-size__text--big;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--small;
      }

      @include breakpoint($breakpoint-tablet) {
        font-size: $font-size__text--regular;
      }

      @include breakpoint($breakpoint-mobile--large) {
        font-size: $font-size__text--big;
      }

      color: $color-text__orange;
      font-size: $font-size__text--large;
    }
  }

  &__promotion {
    display: inline-flex;
    align-items: center;

    @media (hover: hover) {
      &:hover svg {
        transform: translateY(5px);
      }
    }
  }

  &__motion {
    @include breakpoint($breakpoint-laptop--medium) {
      right: -30px;
      bottom: -110px;
      width: 800px;
    }

    @include breakpoint($breakpoint-laptop) {
      bottom: -90px;
      width: 625px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      right: -40px;
      bottom: -60px;
      width: 440px;
    }

    @include breakpoint($breakpoint-tablet) {
      top: -155px;
      bottom: initial;
      width: 340px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      top: -120px;
      right: 50%;
      width: 360px;

      transform: translateX(50%);
    }

    position: absolute;
    right: -80px;
    bottom: -150px;

    width: 1050px;
  }

  &__video {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
