// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  overflow: hidden;
  background-color: $palette-black;
}

.hero {
  &__row {
    &--main {
      @include breakpoint($breakpoint-laptop--medium) {
        padding-top: 55px;

        background-position-x: calc(50% + 220px);
        background-size: 900px;
      }

      @include breakpoint($breakpoint-laptop) {
        background-position-x: calc(50% + 200px);
        background-size: 700px;
      }

      padding-top: 85px;

      background-image: url("../img/page/index/hero/background.png");
      background-position-x: calc(50% + 300px);
      background-position-y: bottom;
      background-size: 1150px;
      background-repeat: no-repeat;
    }

    &--inverted {
      @include breakpoint($breakpoint-laptop--medium) {
        padding-bottom: 110px;
      }

      position: relative;
      padding-bottom: 150px;
      background-color: $palette-white;
    }
  }

  &__content {
    color: $color-text__white;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 20px;
    }

    @include breakpoint($breakpoint-laptop) {
      margin-bottom: 15px;
    }

    margin-bottom: 30px;
  }

  &__description {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 30px;
    }

    @include breakpoint($breakpoint-laptop) {
      margin-bottom: 20px;
    }

    margin-bottom: 50px;
  }

  &__action {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 70px;
    }

    @include breakpoint($breakpoint-laptop) {
      margin-bottom: 50px;
    }

    margin-bottom: 110px;

    .button {
      @include breakpoint($breakpoint-laptop--medium) {
        min-width: 180px;

        padding-right: 25px;
        padding-left: 25px;

        font-size: $font-size__text--big;
      }

      @include breakpoint($breakpoint-laptop) {
        min-width: 170px;

        padding-right: 20px;
        padding-left: 20px;

        font-size: $font-size__text--regular;
      }

      min-width: 210px;

      padding-right: 50px;
      padding-left: 50px;
    }
  }

  &__special {
    @include breakpoint($breakpoint-laptop--medium) {
      padding-bottom: 20px;
    }

    padding-bottom: 25px;

    .link {
      @include breakpoint($breakpoint-laptop--medium) {
        font-size: $font-size__text--big;
      }

      color: $color-text__orange;
      font-size: $font-size__text--large;
    }
  }

  &__motion {
    @include breakpoint($breakpoint-laptop--medium) {
      right: -30px;
      bottom: -110px;
      width: 800px;
    }

    @include breakpoint($breakpoint-laptop) {
      width: 625px;
    }

    position: absolute;
    right: -80px;
    bottom: -150px;

    width: 1050px;
  }

  &__video {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
