#seo {
}

.seo {
  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 27px;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: 22px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--big;
    }

    font-size: $font-size__title--small;
  }

  &__description {
    @include breakpoint($breakpoint-laptop--large) {
      margin-bottom: 20px;
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--small;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--regular;
    }

    margin-bottom: 30px;
    font-size: $font-size__text--large;
  }

  &__content {
    & > *:not(:last-child) {
      @include breakpoint($breakpoint-laptop--large) {
        margin-bottom: 20px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        margin-bottom: 15px;
      }

      margin-bottom: 30px;
    }

    h3 {
      @include breakpoint($breakpoint-laptop--medium) {
        font-size: $font-size__text--big;
      }

      @include breakpoint($breakpoint-laptop) {
        font-size: $font-size__text--regular;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--small;
      }

      @include breakpoint($breakpoint-mobile--large) {
        font-size: $font-size__text--regular;
      }

      font-weight: $weight-Medium;
      font-size: $font-size__text--large;
    }

    ul {
      padding-left: 45px;
      list-style-type: disc;
    }

    ul,
    ol,
    p {
      @include breakpoint($breakpoint-laptop--medium) {
        font-size: $font-size__text--big;
      }

      @include breakpoint($breakpoint-laptop) {
        font-size: $font-size__text--regular;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--small;
      }

      @include breakpoint($breakpoint-mobile--large) {
        font-size: $font-size__text--regular;
      }

      font-size: $font-size__text--large;
    }
  }

  &__side {
    position: sticky;
    top: 130px;

    text-align: center;
    transition: 0.3s ease;

    &[data-header-hidden="true"] {
      top: 50px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__picture {
    @include breakpoint($breakpoint-tablet) {
      max-width: 440px;
      margin: 0 auto 20px;
    }

    margin-bottom: 20px;
  }

  &__link {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--small;
    }

    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    color: #888888;
    font-size: $font-size__text--big;

    transition: 0.2s ease;

    @media (hover: hover) {
      &:hover {
        color: $color-text__orange;

        .rect {
          stroke: $color-text__orange;
        }

        .arrow {
          fill: $color-text__orange;
        }

        span::after {
          background-color: $color-text__orange;
        }
      }
    }

    span {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        display: block;

        width: 100%;
        height: 1px;

        background-color: #888888;
        transition: 0.2s ease;
      }
    }
  }

  &__icon {
    @include breakpoint($breakpoint-laptop--large) {
      width: 24px;
      height: 24px;
    }

    position: relative;
    bottom: -2px;

    width: 20px;
    height: 20px;

    margin-left: 15px;

    path {
      transition: 0.2s ease;
    }
  }

  &__arrow {
    animation: download 1s infinite;
  }
}

@keyframes download {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(0);
  }
}
