body#portfolio {
  background-color: $palette-black;

  section#portfolio {
    padding-top: 30px;
  }

  .portfolio {
    &__item {
      &:not(:last-child) {
        margin-bottom: 55px;
      }

      &:nth-child(5n - 4) .portfolio__picture {
        margin: 0 auto;
      }

      &:nth-child(5n - 3) .portfolio__picture {
        margin: 0 auto 0 5%;
      }

      &:nth-child(5n - 2) .portfolio__picture {
        margin: 0 auto 0 6%;
      }

      &:nth-child(5n - 1) .portfolio__picture {
        margin: 0 auto 0 7%;
      }

      &:nth-child(5n) .portfolio__picture {
        margin: 0 auto 0 8%;
      }
    }

    &__picture {
      @include breakpoint($breakpoint-laptop--medium) {
        max-width: 1100px;
      }

      @include breakpoint($breakpoint-laptop) {
        width: 85%;
      }

      width: 135vh;
      max-width: 1560px;
    }
  }
}
