.checkbox {
  display: inline-flex;
  align-items: center;

  &:hover &__mark {
    border-color: $palette-orange;
  }

  input {
    display: none;

    &:checked ~ .checkbox__mark {
      border-color: $palette-orange;
    }

    &:checked ~ .checkbox__mark::after {
      opacity: 1;
    }
  }

  &__mark {
    @include breakpoint($breakpoint-laptop) {
      width: 27px;
      height: 27px;
    }

    @include breakpoint($breakpoint-tablet) {
      border-radius: 5px;
      box-shadow: inset 0 0 0 1px $palette-orange;
    }

    position: relative;
    display: block;
    flex-shrink: 0;
    overflow: hidden;

    width: 32px;
    height: 32px;

    margin-top: 2px;
    margin-right: 10px;

    border-radius: 8px;

    box-shadow: inset 0 0 0 2px $palette-orange;

    cursor: pointer;
    transition: all 0.15s ease;

    &::after {
      @include breakpoint($breakpoint-mobile--large) {
        width: 80%;
        height: 80%;
      }

      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 75%;
      height: 75%;

      border-radius: 4px;

      background: $palette-orange;

      opacity: 0;

      transform: translate(-50%, -50%);
      transition: opacity 0.15s ease;
    }
  }

  &__label {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--small;
    }

    margin-top: 2px;

    font-weight: $weight-Light;
    font-size: $font-size__text--large;

    transition: color 0.15s ease;
  }

  &__policy {
    position: relative;
    transition: color 0.15s ease;

    @media (hover: hover) {
      &:hover::after {
        opacity: 0;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $palette-black;
      transition: $transition ease;
    }
  }
}
