.input {
  position: relative;
  display: block;

  &--placeholder {
    .input__placeholder {
      opacity: 1;
      visibility: visible;
    }
  }

  &--error {
    .input__field {
      border-color: $input__border--error;
    }

    .input__warning {
      opacity: 1;
      visibility: visible;
    }
  }

  &:focus {
    .input__placeholder {
      display: none;
    }
  }

  &__label {
    @include breakpoint($breakpoint-tablet) {
      position: static;
      display: block;
      margin-bottom: 8px;
    }

    position: absolute;
    top: -30px;
    left: 0;
  }

  &__field {
    @include breakpoint($breakpoint-laptop--medium) {
      padding: 15px 20px;
      font-size: 22px;
    }

    @include breakpoint($breakpoint-laptop) {
      min-height: 43px;
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-laptop) {
      min-height: 40px;
    }

    width: 100%;

    padding: 14px 20px;

    border: 1px solid $palette-gray;
    border-radius: $border-radius--small;
    outline: none;

    background-color: transparent;

    font-weight: $weight-Medium;
    font-size: $font-size__text--big;

    transition: 0.2s ease;

    &--big {
      padding: 15px 30px;
      font-size: 25px;
    }

    &--required {
      border-color: $palette-orange;
    }

    &--box {
      width: 100%;
      max-width: 570px;

      resize: none;
    }

    &::placeholder {
      color: #9b9b9b;
    }
  }

  &__placeholder {
    @include breakpoint($breakpoint-laptop--large) {
      left: 20px;
    }

    position: absolute;
    top: 50%;
    left: 30px;

    color: $color-text__gray;
    letter-spacing: 2px;

    opacity: 0;
    visibility: hidden;

    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.15s ease;

    span {
      color: $color-text__black;
    }
  }

  &__warning {
    position: absolute;
    top: 50%;
    right: 10px;

    // width: 26px;
    // height: 26px;

    opacity: 0;
    visibility: hidden;

    cursor: help;
    transform: translateY(-50%);

    transition: 0.2s ease;
  }
}
