// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Поле ввода"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$input__border: 2px solid #282828;
$input__border--required: 2px solid $palette-orange;
$input__border--error: #ff0000;

@import "input";
@import "checkbox";
