section#faq {
}

.faq {
  @include breakpoint($breakpoint-laptop--medium) {
    padding-top: 50px;
  }

  @include breakpoint($breakpoint-tablet) {
    padding-top: 35px;
  }

  padding-top: 70px;

  &__header {
  }

  &__title {
    font-weight: $weight-Bold;
  }

  &__list {
  }

  &__item {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--large + 2;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--big;
    }

    font-size: $font-size__text--large + 4;

    &:not(:last-child) {
      @include breakpoint($breakpoint-laptop) {
        margin-bottom: 20px;
      }

      margin-bottom: 30px;
    }
  }

  &__illustration {
    @include breakpoint($breakpoint-tablet) {
      max-width: 380px;
      margin: 40px auto 0;
    }
  }

  &__content {
    @include breakpoint($breakpoint-laptop) {
      margin-top: 50px;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-top: 40px;
    }

    margin-top: 70px;
  }

  &__block {
    &:not(:last-child) {
      @include breakpoint($breakpoint-laptop--medium) {
        margin-bottom: 45px;
      }

      @include breakpoint($breakpoint-tablet) {
        margin-bottom: 30px;
      }

      margin-bottom: 70px;
    }
  }

  &__question {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 15px;
      font-size: $font-size__title--small - 3;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__title--small - 8;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--large;
    }

    margin-bottom: 30px;
    font-size: $font-size__title--small;
  }

  &__answer {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--regular;
    }

    font-size: $font-size__text--large;
  }
}
