.process-nav {
  @include breakpoint($breakpoint-tablet) {
    overflow: auto;
  }

  &__wrapper {
    @include breakpoint($breakpoint-tablet) {
      padding-bottom: 20px;
    }

    display: flex;
    align-items: flex-start;
  }

  &__item {
    @include breakpoint($breakpoint-tablet) {
      flex-shrink: 0;
    }

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: $color-text__black;
    text-align: center;

    @media (hover: hover) {
      &:hover {
        .process-nav__background {
          width: 90%;
          height: 90%;
        }

        .process-nav__title {
          color: $color-text__orange;
        }
      }
    }

    &:not(:last-child) {
      @include breakpoint($breakpoint-laptop--medium) {
        margin-right: 90px;
      }

      @include breakpoint($breakpoint-laptop) {
        margin-right: 75px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        margin-right: 50px;
      }

      @include breakpoint($breakpoint-tablet) {
        margin-right: 10px;
      }

      margin-right: 110px;
    }

    &:last-child {
      @include breakpoint($breakpoint-tablet) {
        padding-right: 20px;
      }
    }

    &--current {
      .process-nav__background {
        background-color: $palette-white;
      }

      .process-nav__icon path {
        fill: $palette-orange;
        stroke: $palette-orange;
      }

      .process-nav__title {
        @include breakpoint($breakpoint-tablet) {
          background-color: $palette-white;
          color: $color-text__black;
        }

        font-weight: $weight-Bold;
      }
    }
  }

  &__image {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 130px;
      height: 130px;
      margin-bottom: 15px;
    }

    @include breakpoint($breakpoint-laptop) {
      width: 105px;
      height: 105px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 78px;
      height: 78px;
      margin-bottom: 10px;
    }

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    position: relative;
    width: 160px;
    height: 160px;

    margin-bottom: 20px;
  }

  &__background {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: $palette-orange;

    box-shadow: 5px 5px 6px rgba(#000000, 0.25);
    transform: translate(-50%, -50%);
    transition: $transition ease;
  }

  &__icon {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      min-height: 50px;
      font-size: $font-size__text--large;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--regular;

      br {
        display: none;
      }
    }

    @include breakpoint($breakpoint-tablet) {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      min-height: initial;

      padding: 10px 15px;

      border: 1px solid $palette-white;
      border-radius: $border-radius--small;

      color: $color-text__white;

      white-space: nowrap;
    }

    min-height: 65px;
    font-size: $font-size__title--small - 4px;
    transition: $transition ease;
  }
}
