.single-blog-side {
  position: sticky;
  top: 130px;

  display: flex;
  flex-direction: column;

  transition: $transition ease;

  &[data-header-hidden="true"] {
    top: 50px;
  }

  &__picture {
    overflow: hidden;

    margin-bottom: 25px;
    border-radius: 20px;
  }

  &__text {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--large;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--big;
    }

    font-weight: $weight-Bold;
    font-size: $font-size__text--large + 5px;
  }
}
