// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  background-color: $palette-black;
}

.footer {
  @include breakpoint($breakpoint-laptop) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include breakpoint($breakpoint-tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }

  display: flex;
  justify-content: space-between;

  padding-top: 65px;
  padding-bottom: 105px;

  color: $color-text__white;

  &__info,
  &__contact,
  &__office {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 25px;
    }
  }

  &__contact,
  &__office {
    display: flex;
    flex-direction: column;
  }

  &__info,
  &__link,
  &__additional {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--small;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--big;
    }

    font-size: $font-size__text--large;
  }

  &__info {
    @include breakpoint($breakpoint-tablet) {
      order: 0;
    }

    display: flex;
    flex-direction: column;

    font-weight: $weight-Light;
  }

  &__logo {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 250px;
    }

    @include breakpoint($breakpoint-laptop) {
      width: 200px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 150px;
      margin-bottom: 20px;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 280px;
    }

    width: 300px;
    margin-bottom: 40px;

    path,
    rect {
      fill: $palette-white;
    }
  }

  &__index,
  &__company {
    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 15px;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 10px;
    }

    margin-bottom: 20px;
  }

  &__company span {
    font-weight: $weight-Regular;
  }

  &__contact {
    @include breakpoint($breakpoint-tablet) {
      order: 1;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 25px;

    a {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__office {
    @include breakpoint($breakpoint-tablet) {
      order: 2;
    }
  }

  &__nav {
    @include breakpoint($breakpoint-tablet) {
      order: 3;
    }
  }

  &__additional {
    margin-top: 20px;
  }

  &__icon {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 28px;
    }

    width: 34px;
  }

  &__link {
    display: block;
    color: $color-text__white;

    a {
      color: $color-text__white;
    }

    &--main {
      @include breakpoint($breakpoint-laptop--medium) {
        margin-bottom: 30px;
      }

      @include breakpoint($breakpoint-laptop) {
        margin-bottom: 20px;
        font-size: 22px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        margin-bottom: 15px;
        font-size: $font-size__text--regular;
      }

      @include breakpoint($breakpoint-tablet) {
        margin-bottom: 5px;
        font-size: $font-size__text--large;
      }

      margin-bottom: 40px;
      font-size: 25px;
    }
  }

  &__up {
    @include breakpoint($breakpoint-tablet) {
      display: block;
    }

    display: none;

    order: 4;
    margin-top: 35px;
  }
}
