.mobile-menu {
  position: fixed;
  z-index: 40;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 100vh;

  visibility: hidden;

  &--open {
    visibility: visible;

    .mobile-menu__overlay {
      opacity: 1;
      visibility: visible;
    }

    .mobile-menu__container {
      top: 0;
    }
  }

  &__overlay {
    position: absolute;
    bottom: -100%;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #0f0f0f 0%, rgba(#0f0f0f, 0) 100%);

    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;
  }

  &__container {
    position: absolute;
    top: -100%;
    left: 0;

    width: 100%;

    transition: all 0.8s ease;
  }

  &__box {
    overflow: auto;
    max-height: 100vh;
  }

  &__wrapper {
    background-color: $palette-white;
    text-align: center;

    .nav__link {
      color: $color-text__black;
    }

    &:first-child {
      padding: 100px 30px 20px;
    }

    &:last-child {
      padding: 15px 30px;
    }

    &--inverted {
      background-color: $palette-black;

      .nav__link {
        color: $color-text__white;
      }
    }
  }

  &__button {
    display: block;
    margin: 30px auto 0;
  }

  &__social {
    justify-content: center;

    max-width: 400px;
    margin: 30px auto 0;

    & > *:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__icon {
    width: 36px;
    height: 36px;
  }
}
