// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
    display: flex;
  }

  &__item {
  }

  &__link {
  }

  &--header {
    .nav__list {
      align-items: center;
    }

    .nav__item {
      &:not(:last-child) {
        @include breakpoint($breakpoint-laptop--medium) {
          margin-right: 32px;
        }

        margin-right: 40px;
      }
    }

    .nav__link {
      @include breakpoint($breakpoint-laptop--medium) {
        font-size: $font-size__text--regular;
      }

      color: $color-text__white;

      font-weight: $weight-Medium;
      font-size: $font-size__text--big;
      text-transform: uppercase;

      white-space: nowrap;

      cursor: pointer;
    }
  }

  &--footer {
    .nav {
      &__list {
        @include breakpoint($breakpoint-mobile--large) {
          align-items: center;
        }

        flex-direction: column;
        align-items: flex-start;
      }

      &__item {
      }

      &__link {
        @include breakpoint($breakpoint-laptop--medium) {
          font-size: $font-size__text--big;
        }

        position: relative;
        color: #cbcbcb;

        font-size: $font-size__text--large;
        line-height: 140%;

        @media (hover: hover) {
          &:hover {
            color: $color-text__white;

            &::after {
              right: -30px;

              opacity: 1;
              visibility: visible;
            }
          }
        }

        &::after {
          content: url("../img/icons/component/nav/arrow__right.svg");
          position: absolute;
          top: 43%;
          right: -15px;

          opacity: 0;
          visibility: hidden;

          transform: translateY(-50%);
          transition: 0.15s ease;
        }
      }
    }
  }
}
