// -----------------------------------------------------------------------------
// В этом файле прописываются стили относящиеся ко всем страницам
// -----------------------------------------------------------------------------

.page {
  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__title--large - 5;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__title--small;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: 22px;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: 24px;
    }

    font-weight: $weight-Black;
    font-size: $font-size__title--large;
  }

  &__description {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--small;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--regular;
    }

    font-size: $font-size__text--large;
  }
}
