.modal-callback {
  // @include breakpoint(max-height 590px) {

  // }

  .modal__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .modal__text {
    @include breakpoint($breakpoint-tablet) {
      width: 70%;
      margin: 0 auto 25px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      width: 100%;
    }

    margin-bottom: 25px;
    text-align: center;
  }

  .modal__picture {
    @include breakpoint($breakpoint-laptop) {
      max-width: 300px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      max-width: 200px;
    }

    @include breakpoint($breakpoint-tablet) {
      max-width: 220px;
      margin-right: 0;
    }

    @include breakpoint(max-width 640px) {
      display: none;
    }

    max-width: 330px;
    margin-right: 25px;
  }

  .input {
    @include breakpoint($breakpoint-tablet) {
      max-width: 250px;
    }

    width: 100%;
    max-width: 310px;

    &--box {
      @include breakpoint($breakpoint-tablet) {
        max-width: 300px;
      }

      max-width: 400px;
    }
  }

  .modal__button {
    @include breakpoint($breakpoint-laptop) {
      padding: 15px 50px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      padding: 10px 40px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      margin: 0 auto;
    }

    font-weight: $weight-Medium;
  }
}
