// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.container {
  @include breakpoint($breakpoint-laptop--medium) {
    padding: 0 15px;
  }

  @include breakpoint($breakpoint-laptop) {
    padding: 0;
  }

  @include breakpoint($breakpoint-mobile--large) {
    padding: 0 20px;
  }
}

.scroll-disabled {
  overflow: hidden;
}

.overflow {
  position: relative;

  &::after {
    @include breakpoint($breakpoint-tablet) {
      display: block;
    }

    content: "";
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;

    display: none;
    width: calc(100% - 15px);
    height: 30px;

    background: linear-gradient(
      0deg,
      rgba(#ffffff, 1) 30%,
      rgba(#ffffff, 0) 100%
    );
  }

  &--laptop::after {
    display: block;
  }

  &__container {
    overflow: auto;
    padding-bottom: 30px;
  }
}

.hidden {
  display: none;
}
