// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.container {
  @include breakpoint($breakpoint-laptop--medium) {
    padding: 0 15px;
  }

  @include breakpoint($breakpoint-laptop) {
    padding: 0;
  }

  @include breakpoint($breakpoint-mobile--large) {
    padding: 0 20px;
  }
}

.scroll-disabled {
  overflow: hidden;
}