.portfolio-item {
  &__picture {
    @include breakpoint($breakpoint-laptop--medium) {
      height: 400px;
    }

    @include breakpoint($breakpoint-laptop) {
      height: 280px;
    }

    overflow: hidden;
    height: 490px;

    border-radius: 25px;
  }

  &__content {
    @include breakpoint($breakpoint-laptop--medium) {
      padding-top: 70px;
    }

    @include breakpoint($breakpoint-laptop) {
      padding-top: 25px;
    }

    padding-top: 90px;

    & > *:not(:last-child) {
      @include breakpoint($breakpoint-laptop) {
        margin-bottom: 20px;
      }

      margin-bottom: 25px;
    }
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 27px;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: 22px;
    }

    font-size: $font-size__title--small;
  }

  &__description {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--regular;
    }

    font-size: $font-size__text--large;
  }
}
