section#portfolio {
  overflow: hidden;
  margin-bottom: -20px;
  padding-top: 10px;
  padding-bottom: 20px;

  .tab__slider {
  }

  .inner__slider {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }
}

.portfolio {
  &__tab {
    position: relative;
    display: flex;
    overflow: auto;

    margin-bottom: 20px;

    text-align: center;
  }

  &__slider {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 25px;
    }

    margin-bottom: 45px;
  }

  &__action {
    text-align: center;
  }

  &__button {
  }
}
