#portfolio-block {
  .section__header {
    margin-bottom: 30px;
  }

  .col-6 {
    @include breakpoint(max-width 360px) {
      width: 100% !important;
    }
  }
}

.portfolio-block {
  &__action {
    @include breakpoint($breakpoint-mobile--large) {
      margin-top: 5px;
    }

    margin-top: 20px;
    text-align: center;

    a {
      font-size: 18px;
      color: $color-text__orange;

      svg {
        transition: 0.2s ease;
      }

      @media (hover: hover) {
        &:hover {
          svg {
            transform: translateX(10px);
          }
        }
      }
    }
  }
}
