section#portfolio {
  .portfolio-thumbnail {
    @include breakpoint($breakpoint-tablet--large) {
      padding: 8px;
      border-radius: 6px;
    }

    @include breakpoint($breakpoint-tablet) {
      padding: 0;
    }

    padding: 10px;
    border-radius: 8px;

    transition: $transition ease;

    &__picture {
      @include breakpoint($breakpoint-laptop--medium) {
        height: 115px;
      }

      @include breakpoint($breakpoint-laptop) {
        height: 100px;
      }

      @include breakpoint($breakpoint-tablet) {
        height: 160px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        height: 120px;
      }

      @include breakpoint($breakpoint-mobile--medium) {
        height: 100px;
      }

      @include breakpoint($breakpoint-mobile) {
        height: 85px;
      }

      overflow: hidden;
      height: 130px;
      margin-bottom: 10px;
      border-radius: 8px;
    }

    &__title {
      @include breakpoint($breakpoint-laptop--medium) {
        font-size: $font-size__text--regular;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--small;
      }

      margin-bottom: 5px;
      font-size: $font-size__text--big;
    }

    &__deadline {
      @include breakpoint($breakpoint-laptop) {
        font-size: 13px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: 12px;
      }

      display: flex;
      flex-wrap: wrap;
      color: $color-text__gray;

      font-weight: $weight-Medium;
      font-size: $font-size__text--small;

      span {
        color: $color-text__orange;
        font-weight: $weight-Bold;
      }
    }
  }
}
