.logo {
  &--header {
    transform: translateX(-10px);

    @media (hover: hover) {
      &:hover {
        .translate-left {
          transform: translateX(-5px);
        }

        .translate-right {
          transform: translateX(5px);
        }
      }
    }

    path {
      backface-visibility: hidden;
    }
  }
}
