.logo {
  &--header {
    @media (hover: hover) {
      &:hover {
        .translate-left {
          transform: translateX(-10px);

          &--small {
            transform: translateX(-5px);
          }
        }

        .translate-right {
          transform: translateX(10px);
        }
      }
    }

    path {
      backface-visibility: hidden;
    }
  }
}
