.service-card {
  @include breakpoint($breakpoint-laptop--medium) {
    height: 265px;
  }

  @include breakpoint($breakpoint-laptop) {
    height: 210px;
  }

  @include breakpoint($breakpoint-tablet--large) {
    height: 160px;
  }

  @include breakpoint($breakpoint-tablet--large) {
    border-radius: 14px;
  }

  position: relative;
  overflow: hidden;

  height: 280px;
  border-radius: 24px;

  background-color: $palette-black;
  color: $color-text__white;

  cursor: pointer;

  @media (hover: hover) {
    &:hover::after {
      transform: scale(4);
    }
  }

  &::after {
    content: "";
    position: absolute;

    border-radius: 50%;
    background-color: #424242;

    transform: translateY(50%);
    transition: 0.5s ease;
  }

  &__wrapper {
    @include breakpoint($breakpoint-laptop) {
      padding: 25px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      padding: 17px;
    }

    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;

    height: 100%;

    padding: 32px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__title--small - 3;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: 22px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--regular;
    }

    font-size: $font-size__title--small;
  }

  &__price {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--small;
    }

    margin-top: auto;

    font-weight: $weight-Regular;
    font-size: $font-size__text--large;
  }

  &__picture {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    .preloader {
      right: 15%;
      left: initial;
    }
  }
}
