$margin: 10px;

#service {
  margin-top: 70px;
}

.service {
  @include breakpoint($breakpoint-laptop--medium) {
    width: 100%;
  }

  width: 85%;
  margin: 0 auto;

  &__title {
    margin-bottom: 30px;

    text-align: center;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--five {
      .service__card {
        &:nth-child(5) {
          width: calc(100%);

          &::after {
            right: 0;
            bottom: -250px;

            width: 870px;
            height: 870px;
          }
        }
      }
    }

    &--six {
      .service__card {
        &:nth-child(5) {
          width: calc(55% - #{$margin});

          &::after {
            right: -240px;
            bottom: -100px;

            width: 600px;
            height: 600px;
          }
        }

        &:nth-child(6) {
          width: calc(45% - #{$margin});

          &::after {
            right: -240px;
            bottom: -100px;

            width: 500px;
            height: 500px;
          }
        }
      }
    }
  }

  &__card {
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 20px;
    }

    &:nth-child(1) {
      width: calc(55% - #{$margin});

      &::after {
        right: -50%;
        bottom: -30%;

        width: 600px;
        height: 600px;
      }
    }

    &:nth-child(2) {
      width: calc(45% - #{$margin});

      &::after {
        right: -50%;
        bottom: -30%;

        width: 600px;
        height: 600px;
      }
    }

    &:nth-child(3) {
      width: calc(45% - #{$margin});

      &::after {
        right: -20%;
        bottom: -70%;

        width: 550px;
        height: 550px;
      }
    }

    &:nth-child(4) {
      width: calc(55% - #{$margin});

      &::after {
        right: -50%;
        bottom: -30%;

        width: 600px;
        height: 600px;
      }
    }
  }
}
