.form-callback {
  .form__button {
    @include breakpoint($breakpoint-laptop--medium) {
      flex-grow: 1;
    }
  }

  .input {
    &__field {
      @include breakpoint($breakpoint-tablet) {
        text-align: center;
      }

      &::placeholder {
        letter-spacing: 2px;
      }
    }
  }
}
