// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-orange: #ff8025;
$palette-black: #0f0f0f;

// Цветовая палитра текста
$color-text__black: #0f0f0f;
$color-text__dark: #3e3e3e;
$color-text__gray: #8e8e8e;
$color-text__light-gray: #cbcbcb;
$color-text__orange: #ff8025;
$color-text__white: #ffffff;
