.accordion {
  &--nav {
    border: none;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    .handorgel__header {
    }

    .handorgel__header__button {
      @include breakpoint($breakpoint-mobile--large) {
        justify-content: center;
      }

      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0;

      border: none;
      background-color: transparent;
    }

    .handorgel__icon {
      @include breakpoint($breakpoint-mobile--large) {
        path {
          stroke: $palette-black;
        }
      }

      width: 12px;
      height: 8px;
      margin-left: 10px;
    }

    .handorgel__content {
      border: none;
      background-color: transparent;
    }

    .handorgel__content__inner {
      @include breakpoint($breakpoint-mobile--large) {
        padding: 15px 0 0;
      }

      display: flex;
      flex-direction: column;

      padding: 15px 22px 0 0;

      & > * {
        &:not(:last-child) {
          @include breakpoint($breakpoint-mobile--large) {
            margin-bottom: 10px;
          }

          margin-bottom: 15px;
        }
      }
    }
  }

  &--sidemenu {
    .handorgel__header__button,
    .handorgel__content {
      text-align: right;
    }
  }
}
