.accordion {
  &--nav {
    border: none;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    .handorgel__header {
      &--opened {
        .handorgel__icon {
          transform: rotate(180deg);
        }
      }
    }

    .handorgel__header__button {
      @include breakpoint($breakpoint-tablet) {
        justify-content: center;
      }

      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0;

      border: none;
      background-color: transparent;
    }

    .handorgel__icon {
      @include breakpoint($breakpoint-tablet--large) {
        width: 12px;
        height: 8px;
      }

      @include breakpoint($breakpoint-tablet) {
        path {
          stroke: $palette-black;
        }
      }

      width: 18px;
      height: 18px;

      margin-left: 10px;

      transition: $transition ease;
    }

    .handorgel__content {
      border: none;
      background-color: transparent;
    }

    .handorgel__content__inner {
      @include breakpoint($breakpoint-tablet) {
        padding: 15px 0 0;
        text-align: center;
      }

      display: flex;
      flex-direction: column;

      padding: 15px 22px 0 0;
      text-align: right;

      & > * {
        &:not(:last-child) {
          @include breakpoint($breakpoint-mobile--large) {
            margin-bottom: 10px;
          }

          margin-bottom: 15px;
        }
      }
    }
  }

  &--sidemenu {
    .handorgel__header__button,
    .handorgel__content {
      text-align: right;
    }
  }
}
