/* purgecss start ignore */

.swiper-fade {
  & > .swiper-wrapper > .swiper-slide-active {
    z-index: 5;
  }
}

.swiper {
  .row {
    @include breakpoint($breakpoint-tablet) {
      flex-wrap: wrap;
    }

    flex-wrap: nowrap;
    margin: 0;

    & > * {
      @include breakpoint($breakpoint-tablet) {
        padding: 0 10px;
      }

      padding: 0;
    }
  }

  &-button {
    &-prev,
    &-next {
      @include breakpoint($breakpoint-laptop) {
        width: 20px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        width: 15px;
      }

      outline: none;
      transition: all 0.15s ease;

      @media (hover: hover) {
        &:hover {
          opacity: 0.6;
        }
      }

      &::after {
        content: "";
      }
    }
  }

  .swiper-pagination {
    position: static;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
  }

  .swiper-pagination-bullet {
    flex-shrink: 0;

    width: 12px;
    height: 12px;

    background-color: #ebebeb;
    opacity: 1;

    &-active {
      background-color: $palette-orange;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &--mobile {
    @include breakpoint($breakpoint-tablet) {
      flex-wrap: nowrap;
      overflow: initial;
    }

    .swiper-wrapper {
      @include breakpoint($breakpoint-tablet) {
        flex-wrap: nowrap;
        width: 100%;
        margin: 0;

        & > * {
          margin-bottom: 0 !important;
        }
      }

      width: initial;
    }

    .swiper-slide {
      @include breakpoint($breakpoint-tablet) {
        width: 100%;
        padding: 0;
      }
    }

    .row {
      @include breakpoint($breakpoint-tablet) {
        flex-wrap: nowrap;
      }

      flex-wrap: wrap;
      margin: 0 -10px;

      & > * {
        @include breakpoint($breakpoint-tablet) {
          padding: 0;
        }

        padding: 0 10px;
      }
    }
  }
}

/* purgecss end ignore */
