.swiper-fade {
  & > .swiper-wrapper > .swiper-slide-active {
    z-index: 5;
  }
}

.swiper {
  &-button {
    &-prev,
    &-next {
      @include breakpoint($breakpoint-laptop) {
        width: 20px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        width: 15px;
      }

      outline: none;
      transition: all 0.15s ease;

      @media (hover: hover) {
        &:hover {
          opacity: 0.6;
        }
      }

      &::after {
        content: "";
      }
    }
  }
}
