/* purgecss start ignore */

.swiper-fade {
  & > .swiper-wrapper > .swiper-slide-active {
    z-index: 5;
  }
}

.swiper {
  .row {
    @include breakpoint($breakpoint-tablet) {
      flex-wrap: wrap;
    }

    flex-wrap: nowrap;
    margin: 0;

    & > * {
      @include breakpoint($breakpoint-tablet) {
        padding: 0 10px;
      }

      padding: 0;
    }
  }

  &-button {
    &-prev,
    &-next {
      @include breakpoint($breakpoint-laptop) {
        width: 20px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        width: 15px;
      }

      outline: none;
      transition: all 0.15s ease;

      @media (hover: hover) {
        &:hover {
          opacity: 0.6;
        }
      }

      &::after {
        content: "";
      }
    }
  }
}

/* purgecss end ignore */