.list {
  &--info {
    .list__item {
      @include breakpoint($breakpoint-laptop--medium) {
        font-size: $font-size__text--big;
      }

      @include breakpoint($breakpoint-laptop) {
        font-size: $font-size__text--regular;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--small;
      }

      color: $color-text__gray;

      font-weight: $weight-Medium;
      font-size: $font-size__text--large;

      span {
        color: $color-text__orange;
        font-weight: $weight-Bold;
      }

      &:not(:last-child) {
        @include breakpoint($breakpoint-laptop) {
          margin-bottom: 6px;
        }

        @include breakpoint($breakpoint-tablet--large) {
          margin-bottom: 2px;
        }

        margin-bottom: 10px;
      }
    }
  }

  &__item {
  }
}
