section#single-portfolio {
  .portfolio-body {
    margin-bottom: 40px;

    &__portfolio {
      @include breakpoint($breakpoint-laptop) {
        margin-bottom: 10px;
      }

      @include breakpoint($breakpoint-tablet) {
        margin-bottom: 0;
      }

      margin-bottom: 20px;
    }

    &__action {
      text-align: center;
    }

    &__button {
    }
  }
}
