#callback {
  @include breakpoint($breakpoint-laptop--medium) {
    background-position-x: calc(50% + 350px);
    background-size: 575px;
  }

  @include breakpoint($breakpoint-laptop) {
    padding-top: 0;
    padding-bottom: 40px;

    background-position-x: calc(50% + 250px);
    background-size: 425px;
  }

  @include breakpoint($breakpoint-tablet--large) {
    background-size: 360px;
  }

  @include breakpoint($breakpoint-tablet) {
    margin-top: 40px;

    background: none;
    text-align: center;
  }

  margin-top: 70px;
  padding-top: 50px;
  padding-bottom: 100px;

  background:
    url("../img/section/callback/background.svg") no-repeat
    calc(50% + 500px) bottom;

  background-size: 700px;
}

.callback {
  &__text {
    @include breakpoint($breakpoint-mobile--large) {
      text-align: center;
    }
  }

  &__link {
    @include breakpoint($breakpoint-laptop--medium) {
      margin: 8px 0 18px;
      font-size: 22px;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-laptop) {
      font-weight: $weight-Bold;
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--large;
    }

    display: inline-block;
    margin: 15px 0 25px;

    font-weight: $weight-Medium;
    font-size: 30px;
  }

  &__form {
    margin-top: 15px;

    .form__wrapper {
      @include breakpoint($breakpoint-tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      display: flex;

      & > * {
        @include breakpoint($breakpoint-tablet) {
          width: 260px;
        }
      }
    }
  }
}
