.section {
  @include breakpoint($breakpoint-laptop) {
    margin-top: 50px;
  }

  @include breakpoint($breakpoint-tablet) {
    margin-top: 40px;
  }

  margin-top: 80px;

  &:first-child {
    @include breakpoint($breakpoint-laptop--medium) {
      padding-top: 100px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      padding-top: 60px;
    }

    @include breakpoint($breakpoint-tablet) {
      padding-top: 70px;
    }

    margin-top: 0;
    padding-top: 115px;
  }

  &__header {
    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 20px;
    }

    margin-bottom: 30px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__title--medium - 3;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: 25px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--large;
    }

    font-size: $font-size__title--medium;

    span {
      color: $color-text__orange;
    }

    &--orange {
      color: $color-text__orange;
    }
  }

  &__text {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--small;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--regular;
    }

    font-size: $font-size__text--large;
  }
}
