.button-primary {
  background-color: $palette-orange;

  @media (hover: hover) {
    &:hover {
      box-shadow: 2px 5px 15px rgba($color: #ff8025, $alpha: 0.8);
    }
  }

  &--gray {
    background-color: #3d3d3d;

    @media (hover: hover) {
      &:hover {
        box-shadow: 2px 5px 15px rgba($color: #3d3d3d, $alpha: 0.8);
      }
    }
  }
}
