.button {
  @include breakpoint($breakpoint-laptop--medium) {
    padding: 15px 40px;
    font-size: $font-size__text--big;
  }

  @include breakpoint($breakpoint-laptop) {
    padding: 10px 25px;
    font-size: $font-size__text--regular;
  }

  @include breakpoint($breakpoint-tablet--large) {
    border-width: 1px;
    font-size: $font-size__text--small;
  }

  @include breakpoint($breakpoint-tablet) {
    padding: 15px 65px;
    font-size: $font-size__text--regular;
  }

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 15px 65px;

  border: 2px solid transparent;
  border-radius: $border-radius--button;
  outline: none;

  background-color: transparent;
  color: $color-text__white;

  font-weight: $weight-Bold;
  font-size: $font-size__text--large;
  text-align: center;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
