.button-outline {
  border-color: $palette-orange;

  @media (hover: hover) {
    &:hover {
      border-color: #3d3d3d;
      background-color: #3d3d3d;
      color: $color-text__white;
    }
  }

  &--gray {
    @include breakpoint($breakpoint-laptop--medium) {
      padding-right: 30px;
      padding-left: 30px;
    }

    padding-right: 45px;
    padding-left: 45px;

    border-color: #3d3d3d;
    color: #353535;

    font-weight: $weight-Bold;
  }
}
