.button-loader {
  .preloader {
    margin-left: -24px;

    opacity: 0;
    visibility: hidden;
  }

  &--progress {
    opacity: 0.7;
    pointer-events: none;

    .preloader {
      margin-left: 10px;
      opacity: 1;
      visibility: visible;
    }
  }
}
